$color_bg: #fff;
$color_bg-cyan: #73d9df;
$color_bg-yellow: #f4eb7f;
$color_bg-grey: #f7f9f9;
$color_bg-red: #f24a47;
$color_text-light: #fdfdfd;
$color_text-dark: #6d6d6d;
$color_icon-grey: #a9a9a9;

$gap_xs: 4px;
$gap_sm: 8px;
$gap_md: 12px;
$gap_lg: 16px;
$gap_xl: 20px;
