.main-navigation {
  height: 60px;
  padding-right: $gap_sm;
  background: $color_bg-cyan;

  &__item {
    padding: $gap_lg;
    color: $color_text-light;
  }

  &__logo {
    height: 60px;
    width: auto;
  }

  &__search {
    &:after {
      content: "\f002 ";
      @extend %absolute;
      @extend %block;
      bottom: 6px;
      left: calc(100% - 20px);
      color: $color_icon-grey;
      font-family: "FontAwesome";
    }

    input {
      width: 120px;
      height: 30px;
      padding-left: $gap_sm;
      border-radius: 20px;
    }
  }
}
