.home-footer {
  bottom: 0;
  padding: $gap_sm;
  background: $color_bg-cyan;

  @media only screen and (min-width: 992px) {
    position: relative;
    top: 0;
  }

  &__pagination {
    padding: $gap_xs $gap_md;
    margin: $gap_sm;
    background: $color_text-light;
    color: $color_text-dark;
    border-radius: 4px;
  }
}

.movie-list {
  height: calc(100vh - 250px);
  overflow-y: auto;

  @media only screen and (min-width: 768px) {
    height: calc(100vh - 180px);
  }

  @media only screen and (min-width: 992px) {
    width: 740px;
    height: auto;
    margin: 0 auto;
    overflow-y: hidden;
  }
}
